ItaliaPizza-Cliente/Connected Services/ServicioItaliaPizza/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.Excepciones" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.Excepciones" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExcepcionServidorItaliaPizza">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExcepcionServidorItaliaPizza" nillable="true" type="tns:ExcepcionServidorItaliaPizza" />
</xs:schema>