ItaliaPizza-Cliente/Connected Services/ServicioItaliaPizza/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" />
  <xs:element name="OperacionOrdenesEjemplo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OperacionOrdenesEjemploResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarOrdenDeCompraNueva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" minOccurs="0" name="ordenDeCompraDto" nillable="true" type="q1:OrdenDeCompraDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarOrdenDeCompraNuevaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarOrdenDeCompraNuevaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarOrdenDeCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOrdenDeCompra" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarOrdenDeCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviarOrdenDeCompraResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarTiposServicio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarTiposServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" minOccurs="0" name="RecuperarTiposServicioResult" nillable="true" type="q2:ArrayOfTipoServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" minOccurs="0" name="pedido" nillable="true" type="q3:Pedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarPedidoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarPedidosEnProceso">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarPedidosEnProcesoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" minOccurs="0" name="RecuperarPedidosEnProcesoResult" nillable="true" type="q4:ArrayOfPedidoConsultaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarPedidosPreparados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarPedidosPreparadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" minOccurs="0" name="RecuperarPedidosPreparadosResult" nillable="true" type="q5:ArrayOfPedidoConsultaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarPedidos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarPedidosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" minOccurs="0" name="RecuperarPedidosResult" nillable="true" type="q6:ArrayOfPedidoConsultaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroPedido" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" minOccurs="0" name="RecuperarPedidoResult" nillable="true" type="q7:Pedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstadoPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroPedido" type="xs:int" />
        <xs:element minOccurs="0" name="idEstadoPedido" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstadoPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarEstadoPedidoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarCategorias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarCategoriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" minOccurs="0" name="RecuperarCategoriasResult" nillable="true" type="q8:ArrayOfCategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarUnidadesMedida">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarUnidadesMedidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" minOccurs="0" name="RecuperarUnidadesMedidaResult" nillable="true" type="q9:ArrayOfUnidadMedida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCodigoProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoProducto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCodigoProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarCodigoProductoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" minOccurs="0" name="producto" nillable="true" type="q10:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarProductoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarProductosSinReceta">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarProductosSinRecetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" minOccurs="0" name="RecuperarProductosSinRecetaResult" nillable="true" type="q11:ArrayOfProductoSinReceta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarInsumos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarInsumosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" minOccurs="0" name="RecuperarInsumosResult" nillable="true" type="q12:ArrayOfInsumoRegistroReceta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarCategoriasProductoVenta">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarCategoriasProductoVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" minOccurs="0" name="RecuperarCategoriasProductoVentaResult" nillable="true" type="q13:ArrayOfCategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarProductosVenta">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarProductosVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" minOccurs="0" name="RecuperarProductosVentaResult" nillable="true" type="q14:ArrayOfProductoVentaPedidos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarDisponibilidadDeProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoProducto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cantidadProductos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarDisponibilidadDeProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarDisponibilidadDeProductoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarInsumosActivos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarInsumosActivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" minOccurs="0" name="RecuperarInsumosActivosResult" nillable="true" type="q15:ArrayOfInsumoOrdenCompraDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarRecetas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarRecetasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" minOccurs="0" name="RecuperarRecetasResult" nillable="true" type="q16:ArrayOfReceta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarInsumosReceta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idReceta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarInsumosRecetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" minOccurs="0" name="RecuperarInsumosRecetaResult" nillable="true" type="q17:ArrayOfInsumoReceta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarReceta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" minOccurs="0" name="receta" nillable="true" type="q18:RecetaProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarRecetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarRecetaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarReceta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idReceta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarRecetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarRecetaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" minOccurs="0" name="BuscarClienteResult" nillable="true" type="q19:ArrayOfClienteBusqueda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" minOccurs="0" name="empleadoNuevo" nillable="true" type="q20:EmpleadoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarEmpleadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" minOccurs="0" name="clienteNuevo" nillable="true" type="q21:UsuarioDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarClienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarTiposEmpleado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarTiposEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" minOccurs="0" name="RecuperarTiposEmpleadoResult" nillable="true" type="q22:ArrayOfTipoEmpleadoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarNombreDeUsuarioUnico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreDeUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarNombreDeUsuarioUnicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarNombreDeUsuarioUnicoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCorreoUnico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCorreoUnicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarCorreoUnicoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" minOccurs="0" name="RecuperarClientesResult" nillable="true" type="q23:ArrayOfUsuarioDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarEmpleados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarEmpleadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" minOccurs="0" name="RecuperarEmpleadosResult" nillable="true" type="q24:ArrayOfEmpleadoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Activar_DesactivarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="esEmpleado" type="xs:boolean" />
        <xs:element minOccurs="0" name="esDesactivar" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Activar_DesactivarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Activar_DesactivarUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarClientePorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarClientePorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" minOccurs="0" name="RecuperarClientePorIdResult" nillable="true" type="q25:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarEmpleadoPorNombreUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarEmpleadoPorNombreUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" minOccurs="0" name="RecuperarEmpleadoPorNombreUsuarioResult" nillable="true" type="q26:EmpleadoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarProveedores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarProveedoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" minOccurs="0" name="RecuperarProveedoresResult" nillable="true" type="q27:ArrayOfProveedorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCredenciales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCredencialesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarCredencialesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CerrarSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpleado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>