ItaliaPizza-Cliente/Connected Services/ServicioItaliaPizza/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ItaliaPizza_Contratos.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfTipoServicio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoServicio" nillable="true" type="tns:TipoServicio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoServicio" nillable="true" type="tns:ArrayOfTipoServicio" />
  <xs:complexType name="TipoServicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoServicio" nillable="true" type="tns:TipoServicio" />
  <xs:complexType name="Pedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantidadProductos" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="IdEstadoPedido" type="xs:int" />
      <xs:element minOccurs="0" name="NombreUsuarioCajero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPedido" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProductosIncluidos" nillable="true" type="q1:ArrayOfKeyValueOfProductoVentaPedidosintrqgyTOB1" />
      <xs:element minOccurs="0" name="TipoServicio" nillable="true" type="tns:TipoServicio" />
      <xs:element minOccurs="0" name="Total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pedido" nillable="true" type="tns:Pedido" />
  <xs:complexType name="ProductoVentaPedidos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="IdCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductoVentaPedidos" nillable="true" type="tns:ProductoVentaPedidos" />
  <xs:complexType name="ArrayOfCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Categoria" nillable="true" type="tns:Categoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoria" nillable="true" type="tns:ArrayOfCategoria" />
  <xs:complexType name="Categoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Categoria" nillable="true" type="tns:Categoria" />
  <xs:complexType name="ArrayOfUnidadMedida">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UnidadMedida" nillable="true" type="tns:UnidadMedida" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUnidadMedida" nillable="true" type="tns:ArrayOfUnidadMedida" />
  <xs:complexType name="UnidadMedida">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnidadMedida" nillable="true" type="tns:UnidadMedida" />
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsActivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsInventariado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Insumo" nillable="true" type="tns:Insumo" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductoVenta" nillable="true" type="tns:ProductoVenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
  <xs:complexType name="Insumo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:float" />
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="tns:Categoria" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CostoUnitario" type="xs:float" />
      <xs:element minOccurs="0" name="Restriccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnidadMedida" nillable="true" type="tns:UnidadMedida" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Insumo" nillable="true" type="tns:Insumo" />
  <xs:complexType name="ProductoVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="tns:Categoria" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Precio" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductoVenta" nillable="true" type="tns:ProductoVenta" />
  <xs:complexType name="ArrayOfProductoSinReceta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductoSinReceta" nillable="true" type="tns:ProductoSinReceta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductoSinReceta" nillable="true" type="tns:ArrayOfProductoSinReceta" />
  <xs:complexType name="ProductoSinReceta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductoSinReceta" nillable="true" type="tns:ProductoSinReceta" />
  <xs:complexType name="ArrayOfInsumoRegistroReceta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InsumoRegistroReceta" nillable="true" type="tns:InsumoRegistroReceta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInsumoRegistroReceta" nillable="true" type="tns:ArrayOfInsumoRegistroReceta" />
  <xs:complexType name="InsumoRegistroReceta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="tns:Categoria" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnidadMedida" nillable="true" type="tns:UnidadMedida" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsumoRegistroReceta" nillable="true" type="tns:InsumoRegistroReceta" />
  <xs:complexType name="ArrayOfProductoVentaPedidos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductoVentaPedidos" nillable="true" type="tns:ProductoVentaPedidos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductoVentaPedidos" nillable="true" type="tns:ArrayOfProductoVentaPedidos" />
  <xs:complexType name="ArrayOfReceta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Receta" nillable="true" type="tns:Receta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReceta" nillable="true" type="tns:ArrayOfReceta" />
  <xs:complexType name="Receta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FotoProducto" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Receta" nillable="true" type="tns:Receta" />
  <xs:complexType name="ArrayOfInsumoReceta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InsumoReceta" nillable="true" type="tns:InsumoReceta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInsumoReceta" nillable="true" type="tns:ArrayOfInsumoReceta" />
  <xs:complexType name="InsumoReceta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:double" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnidadMedida" nillable="true" type="tns:UnidadMedida" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsumoReceta" nillable="true" type="tns:InsumoReceta" />
  <xs:complexType name="RecetaProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdReceta" type="xs:int" />
      <xs:element minOccurs="0" name="InsumosReceta" nillable="true" type="tns:ArrayOfInsumoReceta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecetaProducto" nillable="true" type="tns:RecetaProducto" />
  <xs:complexType name="ArrayOfClienteBusqueda">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteBusqueda" nillable="true" type="tns:ClienteBusqueda" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteBusqueda" nillable="true" type="tns:ArrayOfClienteBusqueda" />
  <xs:complexType name="ClienteBusqueda">
    <xs:sequence>
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteBusqueda" nillable="true" type="tns:ClienteBusqueda" />
  <xs:complexType name="EmpleadoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contraseña" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTipoEmpleado" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoEmpleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:UsuarioDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpleadoDto" nillable="true" type="tns:EmpleadoDto" />
  <xs:complexType name="UsuarioDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorreoElectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="tns:DireccionDto" />
      <xs:element minOccurs="0" name="EsActivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdDireccion" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroTelefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioDto" nillable="true" type="tns:UsuarioDto" />
  <xs:complexType name="DireccionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Calle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Colonia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdDireccion" type="xs:int" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DireccionDto" nillable="true" type="tns:DireccionDto" />
  <xs:complexType name="ArrayOfTipoEmpleadoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoEmpleadoDto" nillable="true" type="tns:TipoEmpleadoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoEmpleadoDto" nillable="true" type="tns:ArrayOfTipoEmpleadoDto" />
  <xs:complexType name="TipoEmpleadoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdTipoEmpleado" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoEmpleadoDto" nillable="true" type="tns:TipoEmpleadoDto" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorreoElectronicoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroTelefonoCliente" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
</xs:schema>